@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Italianno&family=Maitree:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

#menu__toggle {
  opacity: 0;
  display: none;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 35px;
  left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 1;
}
.menu__box .logo img {
  width: 250px;
  padding: 15px;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  font-family: "Amiri", serif;
}
.menu__box .icone {
  display: inline;
  align-items: center;
  justify-content: center;
  padding: 35px;
}
.menu__box .icone a {
  color: #000;
  font-size: 30px;
}
.menu__item:hover {
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.panier {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 35px;
  z-index: 2;
  border-radius: 35%;
  padding: 10px;
  transition: 0.6s;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.panier a {
  color: #000;
}
.panier:hover {
  transform: rotateY(360deg);
}
.back_top {
  display: block;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  color: #000;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  text-align: center;
  line-height: 44px;
  z-index: 99;
  font-size: 25px;
  cursor: pointer;
  border-radius: 35%;
  padding: 10px;
}
.back_top a {
  color: #000;
}
.back_top:hover {
  animation: bounce 1s;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.banniere {
  margin: 0 auto;
  height: 550px;
  background-image: url("../img/banniere2.jpg");
  background-position: center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px;
}
.banniere h2 {
  font-size: 3em;
  font-family: "Amiri", serif;
  color: #c1dfc4;
  background: #303030d2;
  width: 800px;
}
.banniere p {
  font-family: "Maitree", cursive;
  font-size: 1.6em;
  color: #ffffff;
  background: #303030d2;
  max-width: 800px;
}
/*------------------------------------------------*/

.grille {
  display: grid;
  max-width: 1400px;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 1em;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.grille .box {
  position: relative;
  border-radius: 5px;
  transition: 0.3s;
}
.grille .box:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.grille .box h3 {
  position: absolute;
  color: #ffffff;
  background: #30303059;
  padding: 5px;
  font-family: "Amiri", serif;
  font-size: 1.5em;
  right: 10px;
  top: 5px;
}
.grille .box .box_content {
  display: flex;
  align-items: center;
  position: absolute;
  color: white;
  bottom: 8px;
  left: 16px;
}
.grille .box .box_content p {
  padding: 10px;
  color: #303030;
  font-family: "Amiri", serif;
  font-size: 1.2em;
  margin-right: 5px;
  border-radius: 20px 0 20px 0;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.grille .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
@media screen and (max-width: 1200px) {
  .grille {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    gap: 1em;
    margin-left: 30px;
  }
}
@media screen and (min-width: 600px) and (max-width: 920px) {
  .grille {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    gap: 1em;
    margin-left: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .grille {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    gap: 1em;
    margin-left: 30px;
  }
}
/*---------------------------------------------------------------------------------*/
.apropos_bloc {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Maitree", light;
  font-size: 1.2em;
  padding: auto;
}

.apropos_para {
  margin: 0 auto;
  padding: 60px;
  font-size: 1.3em;
  max-width: 1400px;
  text-align: justify;
}

.apropos_para h1{
  font-family: "Amiri", serif;
}

.apropos_div {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 50px;
  background: 100% linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  gap: 25px;
}


.apropos_div img {
  object-fit: cover;
  margin-top: 50px;
  width: 400px;
  height: 400px;
  padding: 15px;
}

.oneimg {
  background-color: white;
  color: black;
  border-radius: 20px 0 20px 0;
}

.oneimg img{
  border-radius: 20px 0 20px 0;
}

.oneimg p{
  font-size: 0.8em;
  text-align: justify;
  padding: 15px;
}

.twoimg {
  background-color: white;
  color: black;
  border-radius: 20px 0 20px 0;
}

.twoimg img{
  border-radius: 20px 0 20px 0;
}

.twoimg p{
  font-size: 0.8em;
  text-align: justify;
  padding: 15px;
}

.threeimg {
  background-color: white;
  color: black;
  border-radius: 20px 0 20px 0;
}

.threeimg img{
  border-radius: 20px 0 20px 0;
}

.threeimg p{
  font-size: 0.8em;
  text-align: justify;
  padding: 15px;
}

/*---------------------------------------------------------------------------------*/
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1400px;
  margin: 0 auto;
}
.footer-content h2 {
  font-family: "Amiri", serif;
}
.footer-content p,
li {
  font-family: "Maitree", cursive;
}
.footer-content .logo-footer img {
  width: 250px;
}
.footer-content .logo-footer ul li {
  display: inline;
  list-style: none;
  padding: 15px;
}
.footer-content .logo-footer ul li a {
  color: #000;
}
.footer-content .logo-footer ul {
  padding-left: 65px;
  margin-top: 10px;
}
.footer-content .content ul li {
  list-style: none;
}
.footer-content .content ul li i {
  padding-right: 6px;
}
.footer-content .content ul li {
  margin-top: 6px;
}

.footer-content p {
  margin-top: 6px;
}
.deuxieme_foot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #000;
  margin-top: 10px;
}
.deuxieme_foot ul li {
  display: inline;
  color: #fff;
  padding: 3px;
  font-family: "Maitree", cursive;
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer-content .logo-footer img {
    width: 300px;
  }
  .footer-content .content {
    width: 300px;
  }
}
@media screen and (min-width: 300px) and (max-width: 700px) {
  .deuxieme_foot ul li {
    font-size: 0.8em;
  }
}
/*------------------------------CONTACT---------------------------------------*/
.contact {
  display: grid;
  width: 100%;
  height: 550px;
  grid-template-columns: 500px 500px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  font-family: "Maitree", light;
}
/*
@media screen and (max-width: 1200px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    gap: 1em;
    margin-left: 30px;
  }
}
@media screen and (min-width: 600px) and (max-width: 920px) {
  .contact {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    gap: 1em;
    margin-left: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .contact {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    gap: 1em;
    margin-left: 30px;
  }
}
*/

.contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  font-size: 27px;
}
.contact-block2 {
  width: 100%;
 grid-column: 2;
background-color: #ffffff;
gap: 10px;
display: flex;
flex-direction: column;
padding: 9px 20px 0px 20px;
border-radius: 0px 30px 0px 30px;
font-size: 25px;

}
.contact-block2 ul {
  list-style-type: none;
}
.contact ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  font-size: 45px;
  margin: 0 auto;
}
.form-envoyer {
  display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
width: 50%;
}
.form-envoyer input {
    padding: 10px 10px 10px 10px;
    border-radius: 25px 0px 25px 0px;
    background-color: #000c;
    color: white;
    box-shadow: -1px 1px 20px 6px;
    cursor: pointer;
}
.contact-block3 {
  width: 100%;
  height: auto;
}
.contact-block3 iframe {
  width: 100%;
height: 300px;
box-shadow:  6px 0px 6px rgb(0 0 0 / 40%);
margin-bottom: 15px;

}
.form-radius {
  border-radius: 15px 0px 15px 0px;
}
.contact-icone a {
  color: black;
}
form textarea {
  resize: none;
}
/*-----------------CONTACT-----------------*/
